* {
    box-sizing: border-box;
 }
 body{
 
   font-family:'roboto',sans-serif;
 }
 .logo{
 
    width: 167px;
    margin-left: 95px;
    margin-top: 14px; 
 }
 form{
  width: 5px;
 
 }
 input{
  border: none;
  background-color: #d2d2d2;
  margin-top: 2px;
 }
 .location{
  margin-top: 5px;
  display: flex;
  background-color: #D2D2D2;
  height: 50px;
   
 }
 .fa-location-dot{
    margin-left: 110px;
    margin-top: 15px;
  
 }
 ::placeholder {
  font-size: 16px;
  font-weight: bold;
  color: black;
}
 .menu{
  margin-top: -20px;
   background-color: #EAEAEA;
   height: 280px;
 }
 h1{
    width: 75%;
    margin-left: 40px;
    font-size: 24px;
    text-align: center;
    padding-top: 35px;
 }
 p{
   height: 46px;
   font-size: 18px;
   text-align: center;
 }
 .footer-lien p{
  text-align: left;
  height: 20px;
  font-size: 15px;
  margin-left: 50px;
 }
 .button{
   width: 60%;
   height: 50px;
   border-radius: 25px;
   margin-left: 70px;
   font-size: 16px;
   background:linear-gradient(#9356DC,#FF79DA )  ;
   border: none;
   margin-top: 5px;
  transition-duration: 800ms;
 

 }
 .button:hover{
  filter: brightness(110%);
  box-shadow: 0.5px 0.5px 0.5px 0.5px #7e7e7e;

}
 .button a{
  color: white;
 }
 h2{
margin-left: 20px;
padding-top: 50px;
 }
 h3{
  margin-left: 15px;
 }
 h4{
  margin-top: -10px;
  margin-left: 15px;
  font-weight: normal;
 }
 .functioning{
  margin-top: -10px;
 }
 .card{
   display: flex;
   flex-direction: column;
    width: 85%;
    gap: 20px;
    font-weight: bold;
    margin-top: 25px;
 }
 .card2{
  display: flex;
  flex-direction: column;
  height: 1150px;
  gap: 20px;
}
 .card_functioning{
   position: relative;
   display: flex;
   padding-top: 28px;
   background-color:#f7f7f7;
   width: 100%;
   height: 72px;
   border-radius: 20px;
   margin-left: 32px;
   box-shadow: 0px 4px 15px grey;
   
 }
.icon{
   margin-left: 35px;
   margin-right: 20px;
   color: #7e7e7e;
   
 }
 .number{
   position: absolute;
      width: 20px; 
      height: 20px; 
      background-color:#9356dc; 
      color: white; 
      border-radius: 50%; 
      display: flex; 
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      margin-left: -10px; 
    }
    .restaurant{
      background-color: #EAEAEA;;
      margin-top: 68px;
    }
    .card_restaurant{
      position: relative;
      display: block;
      width: 90%;
      height:250px ;
      background-color:#ffff;
      margin-left: 20px;
    border-radius: 15px;
    }
   .image{

      width: 100%;
      height:160px ;
      border-radius: 15px 15px 0px 0px;
      object-fit: cover;
     
   }
   .nouveau{
    position: absolute;
    margin-top: 20px; 
    left: 75%; 
    background-color: #99E2D0;
    color: #008766;
    padding: 5px;
    font-size: 14px;
    border: none;
   }
   
   .heart{
    display: flex;
    justify-content: space-between;
    
   }
   
   .heart-button {
    border: none;
    background: none;
    cursor: pointer;
   
  }
   .fa-regular{
    position: absolute;
   font-size: 22px;
  
   color: #9356dc;
   }
  .unique-icon{
     position: relative;
    color: #9356dc;
    font-size: 22px;
    opacity: 0;
    transition: opacity 0.5s;
   }
  .heart-button:hover .unique-icon {
      opacity: 1;
      
  }
   footer{
    background-color:#353535;
    margin-top: -20px;
    height: 200px;
   }
   footer h2{
    font-size: 18px;
    color: #ffff;
    font-style: italic;
    padding-top: 20px;
    font-family: Shrikhand,sans-serif;
    margin-left: 50px;
   }
   .fa-utensils{
    margin-right: 15px;
    margin-left:20px ;
   }
   .fa-handshake-angle{
    margin-right: 10.5px;
    margin-left:20px ;
    font-size: 13px;
   }
   .footer-lien{
   
    color: white;
   }
  
   
